@font-face {
   font-family: '方正博雅宋简体_downcc';
   font-display: swap;
   src: url('file:///C:/Users/HP/AppData/Local/Mobirise.com/Mobirise/projects/project-2021-06-08_085632/fonts/%E6%96%B9%E6%AD%A3%E5%8D%9A%E9%9B%85%E5%AE%8B%E7%AE%80%E4%BD%93_downcc/font.TTF');
}
